.summary {
  text-align: center;
  direction: rtl;
  max-width: 45rem;
  width: auto;
  background-color: #383838;
  color: white;
  display: inline;
}

.summary h2 {
  font-size: 2rem;
  margin-top: 0;
}

@media only screen and (max-width: 600px) {
  .summary {
    width: auto;
  }

  .summary h2 {
    margin-bottom: 1rem;
  }
}
